{% extends "_base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Preguntas frecuentes</h2>
        <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
            <div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        ¿Por qué "Iberia Explorer"?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">Nuestro nombre refleja nuestra misión de proporcionar un centro de excelencia donde
                        la personalización alcanza nuevas alturas. Hemos querido interpretar que somos un
                        centro en el que puedes buscar y personalizar de múltiples maneras el mejor plan que
                        encaje para ti, para tu empresa, para un grupo de amigos, con mascotas, ¡y mucho
                        más! El corazón de nuestras operaciones es España, donde todos nuestros planes
                        convergen para ofrecer una experiencia única. Si deseas la perfección en tus
                        momentos más preciados, has llegado a tu destino.</p>
                </div>
                <div class="mb-10">                        
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        ¿Cómo funciona Iberia Explorer?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">Nuestras principales características se basan en la personalización, innovación y
                        creatividad para que puedas diseñar tu plan a medida o elegir algunas de nuestras
                        sugerencias, basadas en tus preferencias y tu perfil. Para conseguir esto, el usuario elegirá un plan de los disponibles en la dashboard, o
                        bien puede buscar con el buscador integrado.
                    
                        Cuando selecciones el
                        lugar de interés o evento, te indicará los detalles y, si se debe reservar, te da un
                        formulario para reservar. Nosotros, como metamediario, nos encargaremos de enviar
                        dichos datos al proveedor del evento original. En caso de cancelar puedes ver los
                        detalles en tu perfil, así como ajustes de configuración en tu perfil. Además, te
                        mostramos las zonas de interés en los alrededores de tu plan.</p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        ¿Cómo aseguráis que los planes son seguros?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">Todo esto se consigue mediante la calidad, variedad y novedad que se espera de una
                        plataforma como la nuestra. Nosotros contamos con cambios constantes y
                        adaptabilidad al usuario mediante búsquedas únicas y la exclusividad de las mismas
                        respecto a una plataforma de viajes convencional.</p>
                    <p class="text-gray-500 dark:text-gray-400">Siéntete libre de <a href="{% url 'appIberiaExplorer:contacto' %}" class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline" target="_blank" rel="noreferrer">contactarnos</a> y te ayudaremos lo más pronto que podamos.</p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        ¿Qué ofrecéis?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">Nuestra plataforma de Iberia Explorer ofrece una experiencia altamente personalizada y
                        completa para buscar y planificar actividades y experiencias en toda España.
                        Conectamos directamente a los usuarios con los mejores proveedores, ofrecemos
                        sugerencias inteligentes basadas en preferencias individuales, proporcionamos
                        información detallada de destinos y actividades, garantizamos precios competitivos y
                        transparentes, brindamos servicio completo y soporte al cliente, y aseguramos acceso
                        multiplataforma.</p>
                    <p class="text-gray-500 dark:text-gray-400">Encuentra más información en <a href="{% url 'appIberiaExplorer:resultado_datos_api' %}" class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline">estos ejemplos</a>.</p>
                </div>
            </div>
            <div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        La elección del nombre y el logo
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">Iberia Explorer es el nombre de nuestra empresa. Este nombre se deriva de la idea de
                        buscar planes con criterios específicos en todo el territorio español. Se compone de
                        "Iberia," que representa a España, y "Explorer," que simboliza un buscador de planes. La
                        combinación de estos términos tiene el propósito de transmitir que somos un centro
                        donde puedes buscar y personalizar un plan ideal para ti, tu empresa, un grupo de
                        amigos, mascotas, ¡y mucho más! Esta denominación guarda una estrecha relación
                        con el objetivo fundamental de nuestra empresa, ya que, en tan solo dos palabras,
                        indica que somos una compañía dedicada a ser un metamediario.</p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        ¿Cuál es la actividad principal de la empresa?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">La actividad principal de esta empresa se basa en
                        proporcionar servicios de personalización y planificación de actividades y
                        experiencias en toda España.
                    </p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        Objetivos principales
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">Iberia Explorer pretende ofrecer un servicio de metamediario
                        para una búsqueda concreta y de forma rápida y sencilla del plan deseado.</p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        ¿A qué nos comprometemos?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">En Iberia Explorer nos comprometemos en ofrecer
                        servicios altamente personalizados, versátiles y únicos, con un enfoque en
                        excelencia y calidad en la experiencia del cliente.</p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        ¿Dónde estáis?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">Nuestra empresa no es un lugar físico. Sin embargo, nuestros
                        servidores se encuentran en el Parque Tecnológico de Andalucía (PTA), c\
                        Severo Ochoa, 23, 29590 Campanillas, Málaga, España.</p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        ¿Dónde trabajáis?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">La empresa tiene un enfoque específico en
                        proporcionar sus servicios y planes personalizados en territorio español.</p>
                </div>
            </div>
        </div>
    </div>
  </section>

{% endblock content %}

{% block script %}

{% endblock script %}