{% extends "_base.html" %}
{% load static %}

{% block head %} {% endblock head %}

{% block content %}


<!-- Flow bite-->

<section class="bg-white dark:bg-gray-900 my-16">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Iberia Explorer</h2>
          <p class="mb-4">Somos estrategas, diseñadores y desarrolladores. Innovadores y solucionadores de problemas. Lo suficientemente pequeños como para ser simples y rápidos, pero lo suficientemente grandes como para ofrecer el alcance que deseas al ritmo que necesitas. Lo suficientemente pequeños como para ser simples y rápidos, pero lo suficientemente grandes como para ofrecer el alcance que deseas al ritmo que necesitas.</p>
          <p>Somos estrategas, diseñadores y desarrolladores. Innovadores y solucionadores de problemas. Lo suficientemente pequeños como para ser simples y rápidos.</p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
          <img class="w-full rounded-lg" src="{% static 'src/docs/images/index/6-removebg-preview.png' %}" alt="office content 1">
          <img class="mt-4 w-full lg:mt-10 rounded-lg" src="{% static 'src/docs/images/index/Logo_Iberia_explorer.png' %}" alt="office content 2">
      </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
  <div class="container mx-auto max-w-screen-xl px-4 py-8 lg:py-16">
      <div class="grid lg:grid-cols-2 lg:gap-8 xl:gap-0">
          <div class="flex justify-center items-center">
              <img src="{% static 'src/docs/images/api_ayunta/api_ayunta.png' %}" alt="mockup" class="w-full rounded-lg h-auto max-w-md">
          </div>
          <div class="justify-center">
              <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Planes del Ayuntamiento de Madrid</h1>
              <p class="max-w-2xl mb-6 font-light text-gray-500 text-4xl lg:text-4xl dark:text-gray-900">Encuentra un plan a medida, con o sin pago, busca por tus preferencias, por las fechas de tus vacaciones y mucho más.</p>
          </div>
      </div>
      <div class="flex justify-center mt-8">
          <a href="{% url 'appIberiaExplorer:resultado_datos_api' %}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Buscar planes
              <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
      </div>
  </div>
</section>


{% endblock content %}

{% block script %} {% endblock script %}