{% extends "_base.html" %} 
{% load static %} 

{% block head %}
<script src="https://accounts.google.com/gsi/client" async></script>
{% endblock head %}
{% load socialaccount %}

{% block content %}
<section>
  <div>
    <div>
      <div>
        <h1>Crear una cuenta, o inicia sesión</h1>
        <form method="post">
          {% csrf_token %} 
          {{ form }}
          <button type="submit">Siguiente</button>
          <h2>O</h2>
          <hr>
          <a href="{% provider_login_url 'google' %}?next=/">Inicia sesión con Google</a>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
