{% extends "_base.html" %}
{% load static %}
{% block content %}
<div>
    {% if notificaciones %}
    <div>
        {% for notificacion in notificaciones %}
            <div>
                <h2><a href="{% url 'appNotificaciones:ver_notificacion' notificacion.id %}">{{ notificacion.titulo_notificacion }}</a></h2>
                <p>{{ notificacion.mensaje_notificacion }}</p>
                <p>{{ notificacion.timestamp }}</p>
                <a href="{% url 'appNotificaciones:eliminar_notificacion' notificacion.id %}">Borrar notificacion</a>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No hay notificaciones</p>
    {% endif %}
</div>
{% endblock content %}