{% extends "_base.html" %}
{% load static %}


{% block content %}

<h1>Datos de la API</h1>
<h2>{{ datos_totales }} resultados encontrados</h2>
{% for dato in datos %}
<ul>
    <li>Titulo: {{ dato.titulo }}</li>
    {% if dato.precio != '' %}
    <li>Precio: {{ dato.precio }}</li>
    {% else %}
    <li>Entrada gratuita</li>
    {% endif %}
    {% if dato.descripcion != '' %}
    <li>Descripción: {{ dato.descripcion }}</li>
    {% endif %}
    {% if dato.fecha_inicio != '' %}
        <li>Fecha de inicio: {{ dato.fecha_inicio }}</li>
    {% endif %}
    {% if dato.hora_inicio != '' %}
    <li>Hora de inicio: {{ dato.hora_inicio }}</li>
    {% else %}
    <li>Sin hora de inicio</li>
    {% endif %}
    {% if dato.fecha_fin != '' %}
    <li>Fecha de fin: {{ dato.fecha_fin }}</li>
    {% endif %}
    <li>
        {% if dato.nombre_lugar != '' or dato.codigo_postal != '' or dato.nombre_calle != '' %}
            Dirección:
        {% endif %}
        {% if dato.nombre_lugar != '' %}
        {{ dato.nombre_lugar }}, 
        {% endif %}
        {% if dato.codigo_postal != '' %}
        {{ dato.codigo_postal }}, 
        {% endif %}
        {% if dato.nombre_calle != '' %}
        {{ dato.nombre_calle }}
        {% endif %}
    </li>
    <li>Organizadores: {{ dato.organizador }}</li>
   
    <li><a href="{{ dato.enlace_detalles }}">Más detalles</a></li>
</ul>
{% endfor %}

{% endblock content %}
