{% load static %} 

{% block head %} 
{% endblock head%} 

{% block content %}

<!-- Borrar despues de colocar donde sea necesario -->
<div>
    ANTOOOONIIOOOOOOOO
    <a href="{% url 'appIberiaExplorer:acerca_de' %}">Acerca de</a>
    <a href="{% url 'appIberiaExplorer:contacto' %}">Contacto</a>
    <a href="{% url 'appIberiaExplorer:privacidad' %}">Política de privacidad</a>
    <a href="{% url 'appIberiaExplorer:cookies' %}">Uso de cookies</a>
    <a href="{% url 'appIberiaExplorer:faq' %}">Preguntas frecuentes</a>
    <a href="{% url 'appIberiaExplorer:sobre_nosotros' %}">Sobre nosotros</a>
</div>
<!-- Fin borrado -->

<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="{% static 'src/docs/images/index/logo.png' %}" class="h-8" alt="Iberia Explorer" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Iberia Explorer</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">FAQ</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Política de privacidad</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Uso de Cookies</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contacto</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">Iberia Explorer, Mario del Campo y Gabriel Ramos</a>. Trabajo de Final de Grado, casi todos los derechos reservados.</span>
    </div>
</footer>
{% endblock content %}
