<!-- Miscelanea -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="title" content="Iberia Explorer" />
<meta name="description" content="Iberia Explorer es una aplicación web que permite explorar la península ibérica a través de sus rutas y puntos de interés." />
<meta name="author" content="Gabriel Ramos López y Mario del Campo Alves" />
<!-- SEO de Google -->
<meta name="keywords" content="Iberia, España, rutas, puntos de interés, turismo, viajes, planes" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="google" content="notranslate" />
<!-- Para producción y depuración -->
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">
<!-- Favicon -->
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">