{% load static %}

{% block head %}

{% endblock head %}
<style>
  #navbar {
    transition: transform 0.3s ease;
  }
</style>
{% block content %}


<!-- Navbar -->
<nav id="navbar" class="backdrop-blur-2xl z-40 fixed w-full top-0 start-0 bg-white border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
      <a href="{% url 'appIberiaExplorer:index' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="{% static 'src/docs/images/index/logo.png' %}" class="h-8" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-normal whitespace-nowrap dark:text-white">Iberia Explorer</span>
      </a>
      <div class="flex items-center space-x-6 rtl:space-x-reverse">
        
        <!-- Carrito de la compra -->
        {% if request.user.is_authenticated %}
        <a href="{% url 'appCarritoPedido:ver_carrito' %}" class="flex items-center">
          <button type="button" class="relative inline-flex items-center p-1 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
            </svg>
            
              {% if cantidad_total > 0 %}
              <span class="sr-only">Notifications</span>
              <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
                {{ cantidad_total }}
              </div>
              {% endif %}
          </button>
        </a>

          <!-- Historial de pedidos 
          <a href="{% url 'appCarritoPedido:ver_pedidos' %}" class="text-sm font-normal text-red-500 dark:text-white hover:underline">Ver historial de pedidos</a>
          -->
          
          <!-- Botón notificaciones -->
          <a href="{% url 'appNotificaciones:ver_notificaciones' %}" class="text-sm font-normal tehttp://127.0.0.1:8000/carrito/pedido/10/xt-red-500 dark:text-white hover:underline">
            <button type="button" class="relative inline-flex items-center p-2 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <svg class="w-5 h-5" aria-hidden="true" xmlns="{% url 'appNotificaciones:ver_notificaciones' %}" fill="currentColor" viewBox="0 0 20 16">
                <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                </svg>
                {% if cantidad_notificaciones %}
                  <span class="sr-only">Notifications</span>
                  <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
                    {{ cantidad_notificaciones }}
                  </div>
                  {% endif %}
              </button>
            </a>

            <!-- Botón modo claro/oscuro -->
            <button id="theme-toggle" type="button"
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 self-end">
            <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
            </svg>
            <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
          </button>

            <!-- Botón perfil -->

            <!-- Avatar Button -->
            <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-end" class="w-10 h-10 rounded-full cursor-pointer" src="{{ user.foto_perfil.url }}" alt="User dropdown">

            <!-- Dropdown menu -->
            <div id="userDropdown" class="absolute z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-64 dark:bg-gray-700 dark:divide-gray-600">
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                    <div class="font-medium truncate">
                        {{ user.username }}
                    </div>
                    <div class="font-medium truncate">
                        {{ user.email }}
                    </div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                    <li>
                        <a href="{% url 'appAjustes:configuracion_cuenta' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                            Mi perfil
                        </a>
                    </li>
                </ul>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                  <li>
                      <a href="{% url 'appCarritoPedido:ver_pedidos' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                          Mi historial de pedidos
                      </a>
                  </li>
              </ul>
                <div class="py-1">
                    <a href="{% url 'appLoginRegistro:logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                        Cerrar sesión
                    </a>
                </div>
            </div>
            <!-- Botón perfil -->



            <!-- Iniciar sesión -->
            
              {% endif %}
              {% if not request.user.is_authenticated %}
                <a href="{% url 'appLoginRegistro:login_register' %}" class="text-sm  text-red-600 dark:text-red-500 hover:underline">Iniciar sesión</a>
              {% endif %}
            
        

      </div>
  </div>
  <nav class="bg-white  dark:bg-gray-700">
    <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a href="{% url 'appIberiaExplorer:index' %}" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'appIberiaExplorer:resultado_datos_api' %}" class="text-gray-900 dark:text-white hover:underline">Planes del Ayuntamiento de Madrid</a>
                </li>
                <li>
                    <a href="{% url 'appIberiaExplorer:sobre_nosotros' %}" class="text-gray-900 dark:text-white hover:underline">Equipo</a>
                </li>
                <!-- <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Información sobre el TFG</a>
                </li> -->
            </ul>
        </div>
    </div>
  </nav>
  
</nav>

<!-- End of Navbar -->
{% endblock content %}

