{% load static %}

{% block head %}

{% endblock head %}

{% block content %}

<nav>
  <a href="{% url 'appIberiaExplorer:index' %}">Iberia Explorer</a>

  {% if not request.user.is_authenticated %}
    <a href="{% url 'appLoginRegistro:login_register' %}">Iniciar sesión</a>
  {% endif %}

  {% if request.user.is_authenticated %}
    <a href="{% url 'appCarritoPedido:ver_carrito' %}">
      Carrito{% if cantidad_total > 0 %} ({{ cantidad_total }}){% endif %}
    </a>
    <a href="{% url 'appCarritoPedido:ver_pedidos' %}">Ver historial de pedidos</a>
    <a href="{% url 'appNotificaciones:ver_notificaciones' %}">Notificaciones{% if cantidad_notificaciones %}({{ cantidad_notificaciones }}){% endif %}</a>
    <a href="{% url 'appAjustes:configuracion_cuenta' %}">Ajustes</a>
  {% endif %}
</nav>
{% endblock content %}

