{% load static %}

{% block head %}

{% endblock head %}

{% block content %}


<!-- Navbar -->
<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
      <a href="{% url 'appIberiaExplorer:index' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="{% static 'src/docs/images/index/logo.png' %}" class="h-8" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-normal whitespace-nowrap dark:text-white">Iberia Explorer</span>
      </a>
      <div class="flex items-center space-x-6 rtl:space-x-reverse">
        
        <!-- Carrito de la compra -->
        {% if request.user.is_authenticated %}
          <a href="{% url 'appCarritoPedido:ver_carrito' %}" class="text-sm font-normal text-red-500 dark:text-white hover:underline">
            Carrito
            {% if cantidad_total > 0 %} 
              ({{ cantidad_total }})
            {% endif %}
          </a>

          <!-- Historial de pedidos -->
          <a href="{% url 'appCarritoPedido:ver_pedidos' %}" class="text-sm font-normal text-red-500 dark:text-white hover:underline">Ver historial de pedidos</a>

          <!-- Notificaciones -->
          <a href="{% url 'appNotificaciones:ver_notificaciones' %}" class="text-sm font-normal tehttp://127.0.0.1:8000/carrito/pedido/10/xt-red-500 dark:text-white hover:underline">
            Notificaciones
            {% if cantidad_notificaciones %} 
              ({{ cantidad_notificaciones }})
            {% endif %}
          </a>

          <!-- Ajustes -->
          <a href="{% url 'appAjustes:configuracion_cuenta' %}" class="text-sm font-normal text-red-500 dark:text-white hover:underline">
            Ajustes
          </a>
        {% endif %}
          {% if not request.user.is_authenticated %}
            <a href="{% url 'appLoginRegistro:login_register' %}" class="text-sm  text-red-600 dark:text-red-500 hover:underline">Iniciar sesión</a>
          {% endif %}

      </div>
  </div>
</nav>
<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
      <div class="flex items-center">
          <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
              <li>
                  <a href="{% url 'appIberiaExplorer:index' %}" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Inicio</a>
              </li>
              <li>
                  <a href="{% url 'appIberiaExplorer:resultado_datos_api' %}" class="text-gray-900 dark:text-white hover:underline">Planes del Ayuntamiento de Madrid</a>
              </li>
              <li>
                  <a href="#" class="text-gray-900 dark:text-white hover:underline">Equipo</a>
              </li>
              <li>
                  <a href="#" class="text-gray-900 dark:text-white hover:underline">Información sobre el TFG</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<!-- End of Navbar -->
{% endblock content %}

