{% extends "_base.html" %}
{% load static %}

{% block content %}

<h1>Configuración de la cuenta</h1>
<form action="" method="post">
    {% csrf_token %}

    <img src="{{ user.foto_perfil.url }}" alt="Perfil">
    {{ form_datos }}

    <button type="submit">Guardar cambios</button>
</form>

<button id="logout-button" 
        type="button"
        class="confirmation-button"
        data-action="logout"
        data-url="{% url 'appLoginRegistro:logout_confirmation' %}"
        data-confirm-button-id="confirm-logout"
        data-cancel-button-id="cancel-logout"
        data-redirect-url="{% url 'appLoginRegistro:logout' %}">
    Cerrar sesión
</button>

<button id="delete-account-button" 
        type="button" 
        class="confirmation-button"
        data-action="delete-account"
        data-url="{% url 'appLoginRegistro:delete_account_confirmation' %}"
        data-confirm-button-id="confirm-delete-account"
        data-cancel-button-id="cancel-delete-account"
        data-redirect-url="{% url 'appLoginRegistro:delete_account' %}"
        style="color: #f30707;">
    Eliminar cuenta
</button>

<h1>Tus datos</h1>

<hr>
<h1>Cambiar contraseña</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form_cambio_pssw }}

    <button type="submit">Cambiar contraseña</button>
<hr>

<!-- TODO: Cambiar y poner en otro lado -->
<script>
    document.querySelectorAll('.confirmation-button').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            
            var actionType = this.dataset.action;
            var url = this.dataset.url;
            var confirmButtonId = this.dataset.confirmButtonId;
            var cancelButtonId = this.dataset.cancelButtonId;
            var redirectUrl = this.dataset.redirectUrl;
            
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    var modalDiv = document.createElement('div');
                    modalDiv.innerHTML = response.html;
                    document.body.appendChild(modalDiv);
                    document.getElementById(`${actionType}-confirmation-modal`).style.display = 'block';

                    document.getElementById(confirmButtonId).addEventListener('click', function() {
                        window.location.href = redirectUrl;
                    });

                    document.getElementById(cancelButtonId).addEventListener('click', function() {
                        document.getElementById(`${actionType}-confirmation-modal`).style.display = 'none';
                    });
                }
            };
            xhr.send();
        });
    });
</script>
{% endblock content %}


