{% extends "_base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
<h1>Carrito de Compra</h1>
{% if carrito and detalles %}
    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
        {% for item in detalles %}
        <tr>
            <td>{{ item.id_plan.nombre }}</td>
            <td>
                <form action="{% url 'appCarritoPedido:actualizar_carrito' item.id_carrito_detalle %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="cantidad" value="{{ item.cantidad }}" min="1">
                    <button type="submit">Actualizar</button>
                </form>
            </td>
            <td>{{ item.id_plan.precio }}</td>
            <td>{{ total }}</td>
            <td>
                <form action="{% url 'appCarritoPedido:eliminar_del_carrito' item.id_carrito_detalle %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">Total</td>
            <td>{{ total }}</td>
            <td></td>
        </tr>
    </table>
    <a href="{% url 'appCarritoPedido:completar_pedido' %}">Completar Pedido</a>
{% else %}
    <p>No hay productos en el carrito.</p>
{% endif %}

{% endblock content %}

{% block script %}

{% endblock script %}