{% extends "_base.html" %}
{% load static %}

{% block content %}
<h1>Mis Pedidos</h1>

<h2>Pedidos Completados</h2>
{% if pedidos_completados %}
    <table>
        <tr>
            <th>Fecha</th>
            <th>Total</th>
            <th>Detalles</th>
        </tr>
        {% for pedido in pedidos_completados %}
        <tr>
            <td>{{ pedido.fecha_reserva }}</td>
            <td>{{ pedido.total }}</td>
            <td>
                <a href="{% url 'appCarritoPedido:ver_pedido_detalle' pedido.id_pedido %}">Ver Detalles</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No tienes pedidos completados.</p>
{% endif %}

<h2>Pedidos Cancelados</h2>
{% if pedidos_cancelados %}
    <table>
        <tr>
            <th>Fecha</th>
            <th>Total</th>
            <th>Detalles</th>
        </tr>
        {% for pedido in pedidos_cancelados %}
        <tr>
            <td>{{ pedido.fecha_reserva }}</td>
            <td>{{ pedido.total }}</td>
            <td>
                <a href="{% url 'appCarritoPedido:ver_pedido_detalle' pedido.id_pedido %}">Ver Detalles</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No tienes pedidos cancelados.</p>
{% endif %}

{% endblock content %}
